<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet"
          type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">

    <!-- Bootstrap Core Css -->
    <link href="plugins/bootstrap/bootstrap-3.3.7.min.css" rel="stylesheet">

    <!-- Custom Css -->
    <link href="css/style.min.css" rel="stylesheet">

    <!-- AdminBSB Themes. You can choose a theme from css/themes instead of get all themes -->
    <link href="css/themes/all-themes.min.css" rel="stylesheet"/>

    <title>{{title}}</title>
</head>
<body class="theme-blue">

<!-- Top Bar -->
<nav class="navbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand font-bold" href="/">PTSC - STOCKHOLDERS MEETING</a>
        </div>
    </div>
</nav>
<!-- #Top Bar -->

<section class="content p-b-50">
    <div class="container-fluid">
        {{{body}}}
    </div>
</section>

<!--FOOTER-->
<div class="navbar-fixed-bottom bg-light-blue">
    <div class="navbar-text font-bold">Powered by CuongDao</div>
</div>
<!--#FOOTER-->

<!-- Jquery Core Js -->
<script src="plugins/jquery/jquery-3.2.1.min.js"></script>

<!-- Bootstrap Core Js -->
<script src="plugins/js/bootstrap-3.3.7.min.js"></script>

<!-- Waves Effect Plugin Js -->
<script src="plugins/node-waves/waves.js"></script>

<!-- Custom Js -->
<script src="js/admin.js"></script>

</body>
</html>