<div class="row clearfix">
    <div class="col-lg-6 col-md-6 col-sm-6 col-lg-offset-3 col-md-offset-3 col-sm-offset-3">
        <div class="card">
            <div class="header bg-indigo">
                <h2 class="font-bold">Success</h2>
            </div>
            <div class="body align-center">
                <h3>Welcome to stockholders meetings {{username}}</h3>
                <div class="button-demo">
                    <a href="/" class="btn btn-success btn-lg waves-effect">Click to start using application</a>
                </div>
            </div>
        </div>
    </div>
</div>