<div>
    <h1 class="col-indigo">STOCKHOLDERS CHECKING</h1>
</div>

<!-- Input -->
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    INPUT
                    <small>Different sizes and widths</small>
                </h2>
            </div>
            <div class="body">
                <div id="content"/>
            </div>
        </div>
    </div>
</div>
<!-- #END# Input -->

<script src="/bundle/vendors.js"></script>
<script src="/bundle/checking.js"></script>