<div>
    <h1 class="col-indigo">TICKETS TICKING</h1>
</div>

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    INPUT
                    <small>Different sizes and widths</small>
                </h2>
            </div>
            <div class="body">
                <form action="/ticking" method="post">
                    <h2 class="card-inside-title">Floating Label Examples</h2>
                    <div class="row clearfix">
                        <div class="col-sm-12">
                            <div class="form-group form-float form-group-lg">
                                <div class="form-line">
                                    <input id="stockNumber" type="text" class="form-control" name="stockNumber" autoFocus/>
                                    <label for="stockNumber" class="form-label">Stock number</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-lg btn-primary waves-effect">
                                Submit
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>